
@{
    ViewBag.Title = "Excluir tarefa";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height , initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Manager</title>
    <link href="@Url.Content("~/img/favicon.ico")" rel="shortcut icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/css/reset.min.css")" />
    <link href="@Url.Content("~/css/delete_task_page.min.css")" rel="stylesheet" />
</head>
<body>
    <main class="delete-task-page-container">
        @if (TempData["resultMessage"] != null)
        {
            if (TempData["resultMessage"].ToString().Contains("sucesso"))
            {
                <img class="delete-success-img" src="@Url.Content("~/img/delete-task-success.svg")" alt="Deletado com sucesso" />
            }
            <p class="result-message">@ViewData["resultMessage"]</p>
            <p class="redirect-message">Você será redirecionado em 5 segundos. Caso não seja redirecionado <a asp-action="Index" asp-controller="Home">clique aqui</a>.</p>
        }
    </main>

    <script src="@Url.Content("~/js/delete_task_page.min.js")"></script>
</body>
</html>