@model ICollection<TaskManager.Web.Models.Task>

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/css/home_page.min.css")" />
}

<div id="home-page">
    <div class="home-page-container">
        <h1 class="welcome-message">Seja bem-vindo ao Gerenciador de Tarefas</h1>

        <header class="menu-bar-home-page">
            <p>Suas tarefas:</p>
            <button>Adicionar tarefa</button>
        </header>

        @if (Model == null || Model.Count() == 0)
        {
            <figure class="figure-balloon-empty">
                <img src="@Url.Content("~/img/balloon-empty.svg")" alt="Balão vazio" />
                <figcaption>Oops... Parece que você não tem nenhuma tarefa cadastrada.</figcaption>
            </figure>
        }
        else
        {
            <section class="home-page-content">
                @foreach (var task in Model)
                {
                    <div class="task-wrapper">
                        <div class="task-wrapper-content">
                            <h4>Título: @task.TaskName</h4>
                            <p>Categoria: @task.Category.CategoryName</p>
                            <p>Data: @task.TaskDate.ToString("dd/MM/yyyy")</p>
                            <p>Descrição: @task.TaskDescription</p>
                        </div>

                        <div class="task-wrapper-buttons">
                            <img src="@Url.Content("~/img/edit-task.svg")" alt="Editar tarefa" title="Editar tarefa" />
                            <img src="@Url.Content("~/img/delete-task.svg")" alt="Excluir tarefa" title="Excluir tarefa" />
                        </div>
                    </div>
                }
            </section>
        }
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/home_page.min.js")"></script>
}