<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height , initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Manager</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/css/reset.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/layout.min.css")" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="header bg-color-first">
        <a class="home-link" href="/">
            <h2>Gerenciador de Tarefas</h2>
        </a>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer class="footer bg-color-first">
        <h2 class="footer-description">Desenvolvido por Savio Moreira</h2>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
